/*! 
 * Theme Name: Flounder
 * Theme URI: ​http://themes.redradar.net/blog/2013/11/09/introducing-flounder-a-colorful-new-theme-by-mel-choyce-kelly-dwan/
 * Author: Kelly Dwan & Mel Choyce
 * Author URI: http://themes.redradar.net
 * Description: Flounder is a flat, minimally styled theme for bloggers which features colorful support for post formats and a clean, responsive layout.
 * Version: 0.2.2
 * License: GNU General Public License 
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags: two-columns, three-columns, left-sidebar, right-sidebar, post-formats, custom-header, featured-images, editor-style, threaded-comments, flexible-width, custom-menu, blue, gray, green, orange, pink, purple, yellow, dark
 */
/* =Reset
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
  background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}
a img {
  border: 0;
}
/*
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 _s is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/* =Global
----------------------------------------------- */
* {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
/* Text elements */
p {
  margin-bottom: 1em;
}
ul,
ol {
  margin: 0 0 1em 2em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1em 1em;
}
b,
strong {
  font-weight: bold;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1em;
}
address {
  margin: 0 0 1em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1em;
  padding: 1em;
  overflow: auto;
  max-width: 100%;
}
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.5rem;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100% !important;
  /* Adhere to container width. */
}
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}
/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}
/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
  content: '';
  display: table;
}
.clear:after,
[class*="content"]:after,
[class*="site"]:after {
  clear: both;
}
/* =Media
----------------------------------------------- */
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  max-width: 100%;
}
.site-content .gallery,
.site-content .tiled-gallery {
  margin-bottom: 1.5em;
}
.site-content .gallery img {
  display: block;
  margin: 0 auto;
  height: auto;
  border: none;
}
.site-content .gallery dd {
  margin: 0;
}
.entry-format-image img {
  display: block;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}
/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}
/* Search widget */
.widget_search .submit {
  display: none;
}
/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .navigation-paging,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}
/* http://nicolasgallagher.com/pure-css-speech-bubbles/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/**
 * Colors Mixin. All post-type specific colors are
 * defined here. This is assumed to be called on the 
 * <article> for a post.
 */
h1 {
  font-weight: 200;
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1;
}
h2 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
h3 {
  font-weight: 200;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1;
}
h4 {
  font-weight: 200;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
}
h5 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
h6 {
  font-weight: bold;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-bottom: .5em;
}
blockquote p:first-child {
  quotes: '"' '"';
}
blockquote p:first-child:before {
  content: open-quote;
}
blockquote p:last-child {
  quotes: '"' '"';
}
blockquote p:last-child:after {
  content: close-quote;
}
q {
  quotes: '"' '"';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
code,
pre {
  font-size: 86.66667%;
  word-wrap: normal;
}
table {
  width: 100%;
}
table td,
table th {
  padding: 2px 5px;
}
table th {
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 400;
}
table td {
  border-style: solid;
  border-width: 0 0 1px 1px;
}
table td:last-child {
  border-right-width: 1px;
}
.wp-caption {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.3;
}
.wp-caption-text {
  padding: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
}
/* @group WHOLE PAGE */
#page {
  margin: 1em auto 0;
  max-width: 960px;
}
.content-area {
  float: right;
  margin: 0 0 0 -22.9166667%;
  width: 100%;
}
.site-content {
  margin: 30px 0 0 29.1666667%;
}
.site-header {
  position: relative;
  z-index: 100;
}
.site-header,
.side-widget-area {
  clear: left;
  float: left;
  overflow: hidden;
  width: 22.9166667%;
}
.site-footer {
  clear: both;
  width: 100%;
}
#infinite-footer {
  z-index: 20;
}
/* @end */
/* @group PER-POST */
.hentry {
  position: relative;
  margin: 0 0 30px;
  *zoom: 1;
}
.hentry:before,
.hentry:after {
  display: table;
  content: "";
}
.hentry:after {
  clear: both;
}
.entry-area {
  float: left;
  margin: 0 -26.4705882% 0 0;
  width: 100%;
  min-height: 180px;
  *zoom: 1;
}
.entry-area:before,
.entry-area:after {
  display: table;
  content: "";
}
.entry-area:after {
  clear: both;
}
.entry-header,
.entry-content,
.entry-summary,
.comment-links,
.comments-area {
  margin: 0 26.4705882% 0 0;
  padding: 20px 30px;
}
.entry-content,
.entry-summary,
.comment-links,
.comments-area {
  padding: 30px;
}
.type-page .entry-header {
  position: relative;
  margin: 0;
  padding-right: 26.4705882%;
  z-index: 15;
}
.comment-links {
  padding-top: 0;
}
.entry-content .searchform {
  margin: 0 0 15px;
}
.sidebar-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 26.4705882%;
  background: red;
}
footer.entry-meta {
  position: relative;
  overflow: hidden;
  z-index: 10;
  width: 26.4705882%;
  padding-bottom: 30px;
}
/* @end */
body {
  background: #2c3e50;
}
body,
button,
input,
select,
textarea {
  color: #2c3e50;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
a {
  color: #2c3e50;
  text-decoration: none;
  -webkit-transition: color ease-in-out 0.25s;
  -moz-transition: color ease-in-out 0.25s;
  -ms-transition: color ease-in-out 0.25s;
  -o-transition: color ease-in-out 0.25s;
  transition: color ease-in-out 0.25s;
}
a:hover {
  color: #080b0e;
}
.entry-content a,
.entry-summary a {
  text-decoration: underline;
}
input[type],
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
  border: 1px solid white;
}
input[type]:focus,
textarea:focus {
  outline: none;
  border-color: #92a9a9;
}
button,
input[type='submit'],
input[type='reset'] {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  border: none;
  text-shadow: none;
}
label[for^='pwbox'] {
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
}
input[type='password'] {
  margin-left: 5px;
  padding: 4px;
}
input[type='search'] {
  width: 100%;
}
.entry-content input[type='search'] {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 70%;
}
/* @group HEADER/SIDEBAR */
.site-branding {
  position: relative;
  display: block;
  margin: 30px auto;
  height: 220px;
  width: 220px;
  text-align: center;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  border-radius: 110px;
  background-color: #ecf0f1;
}
.custom-header .site-branding {
  background-color: rgba(236, 240, 241, 0.5);
}
.custom-header .site-branding:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  border-radius: 110px;
}
.site-title {
  display: table-cell;
  height: 220px;
  width: 220px;
  vertical-align: middle;
  line-height: 1.2;
}
.navigation-main {
  margin: 0 0 40px;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  color: #ecf0f1;
}
.navigation-main li {
  padding: 10px 0;
  border-bottom: 2px solid #31465a;
}
.navigation-main li:last-child {
  border-bottom: none;
}
.navigation-main a {
  display: block;
  padding: 15px 0;
  color: #ecf0f1;
}
.navigation-main a:hover {
  color: #a3b6bb;
}
.navigation-main ol,
.navigation-main ul,
.navigation-main li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-main .sub-menu:before {
  content: '↓';
}
/* Small menu */
.menu-toggle {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .menu-toggle {
    cursor: pointer;
    display: block;
    z-index: 120;
    margin: 20px 20px 0;
    height: 20px !important;
    width: 20px !important;
  }
  .menu-toggle:before {
    font-size: 20px;
    color: #ecf0f1;
  }
  .menu-toggle.nav {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }
  .menu-toggle.widgets {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
  }
  .admin-bar .menu-toggle {
    top: 46px !important;
  }
  #site-navigation,
  #secondary {
    position: fixed;
    display: block;
    overflow: scroll;
    float: none;
    z-index: 110;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 60px 0 0;
    width: 0;
    min-width: 0;
    height: 100%;
    background: #2c3e50;
    transition: width 0.2s ease;
  }
  .admin-bar #site-navigation,
  .admin-bar #secondary {
    top: 46px !important;
  }
  .show-nav #site-navigation {
    width: 100%;
  }
  #site-navigation > [class$="container"] {
    width: 100%;
    margin: 0;
  }
  #secondary {
    right: 0;
    left: auto;
  }
  #secondary .widget {
    margin-left: 20px;
    margin-right: 20px;
  }
  .show-widgets #secondary {
    width: 100%;
  }
}
.widget {
  padding: 15px 15px 15px;
  font-size: 14px;
  font-size: 1.4rem;
  background: #cbd6d6;
}
.widget ol,
.widget ul,
.widget li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget .widget-title {
  margin: -15px -15px 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background: #7f8c8d;
}
.widget .widget-title + ul,
.widget.widget_nav_menu .widget-title + div > ul {
  margin-top: -10px;
}
.widget ul {
  margin: 0 -15px -15px;
}
.widget li {
  display: block;
  padding: 12px 15px;
  text-align: center;
  border-bottom: 2px solid #a7b0b1;
}
.widget li:last-child {
  border-bottom: none;
}
.widget li ul {
  margin: 0;
}
.widget li li {
  padding: 12px 0;
  border-bottom: none;
}
.widget li li:first-child {
  padding-top: 24px;
}
.widget li li:last-child {
  padding-bottom: 0;
}
.widget.widget_rss a:first-child {
  font-weight: bold;
}
.widget.widget_rss a:last-child {
  font-weight: normal;
}
.widget.widget_rss .rssSummary {
  margin: 5px 0;
}
.widget.widget_recent_comments li {
  display: block;
  padding: 12px 15px;
  text-align: center;
  border-bottom: 2px solid #a7b0b1;
}
.widget.widget_recent_comments li a {
  border-bottom: none;
}
.widget.widget_recent_comments li:last-child {
  border-bottom: none;
}
.widget table caption {
  margin-bottom: 5px;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.widget #wp-calendar td,
.widget #wp-calendar th {
  text-align: center;
  border-color: rgba(44, 62, 80, 0.25);
}
.widget #wp-calendar th {
  color: white;
  background: #2c3e50;
}
.widget #wp-calendar a {
  display: block;
  color: white;
  background: #7f8c8d;
}
/* @end */
/* @group GENERAL POST STYLE */
.page-header {
  margin: 0 0 30px;
  padding: 30px;
  color: white;
  background: #516477;
}
.page-header .page-title {
  font-size: 36px;
  font-size: 3.6rem;
}
.page-header .taxonomy-description {
  margin: 15px 0 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: italic;
}
.page-header .taxonomy-description p {
  margin: 0;
}
.entry-header.entry-meta {
  position: relative;
  padding: 0;
  min-height: 45px;
}
.entry-header.entry-meta .meta {
  float: left;
  margin: 0;
}
.entry-meta .meta {
  display: block;
  margin: 0 0 2px;
  padding: 15px 30px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
}
.bypostauthor {
  /*! Not used in this theme */
}
.page-links {
  clear: both;
}
.navigation {
  margin-bottom: 30px;
}
.navigation .nav-next {
  float: right;
}
.navigation .nav-previous {
  float: left;
  margin-bottom: 15px;
}
.navigation .dashicons {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: -11px 3px 0;
  font-size: 20px;
  background: none;
}
.navigation a {
  display: block;
  padding: 15px 25px 15px 15px;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
  color: #2c3e50;
  background: #cbd6d6;
}
.navigation .nav-next a {
  padding: 15px 15px 15px 25px;
}
/* @end */
/* @group POST FORMAT CONTENT */
.format-link .entry-content a:first-of-type {
  color: #8e44ad;
  font-weight: bold;
}
.entry-image {
  margin-bottom: 1em;
  background: #4bd786;
}
.entry-image .wp-caption-text {
  color: #086730;
}
.entry-image img {
  display: block;
}
.gallery {
  overflow: hidden;
  margin-bottom: 30px !important;
}
.format-image .wp-caption {
  background: #4bd786;
}
.format-image .wp-caption-text {
  color: #086730;
}
.format-gallery .entry-image {
  background: #55a5d9;
}
.format-gallery .entry-image .wp-caption-text {
  color: #084974;
}
.format-gallery .gallery br {
  display: none;
}
.format-gallery .gallery.gallery-columns-1 .gallery-item img {
  width: 100%;
}
.format-gallery .gallery.gallery-columns-2 br {
  display: block;
}
.format-gallery .gallery.gallery-columns-3 .gallery-item:nth-child(1),
.format-gallery .gallery.gallery-columns-3 .gallery-item:nth-child(2) {
  width: 50% !important;
}
.format-gallery .gallery.gallery-columns-3 .gallery-item:nth-child(3) {
  clear: left;
}
.format-gallery .gallery .wp-caption-text,
.format-gallery .gallery .gallery-caption {
  display: none;
  margin: 0 5px !important;
  padding: 10px 5px;
  color: #084974;
  background: #55a5d9;
}
.single .format-gallery .gallery .wp-caption-text,
.single .format-gallery .gallery .gallery-caption {
  display: block;
}
.format-gallery .gallery img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  border: none !important;
}
.format-quote blockquote {
  position: relative;
  margin: 0 20px;
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 30px;
  font-style: italic;
}
.format-quote .quote-caption {
  margin: 0 20px;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
}
/* @end */
/* @group COLORS & ICONS */
.icon {
  height: 12px;
  width: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #2c3e50;
}
.dashicons-admin-comments,
.dashicons-plus-big,
.dashicons-xit {
  font-size: 16px;
  color: inherit !important;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dashicons-xit {
  margin-top: -6px;
}
.format-icon {
  margin: 30px auto;
  height: 120px;
  width: 120px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  font-size: 64px;
  line-height: 120px;
}
h1 .dashicons,
h2 .dashicons,
h3 .dashicons {
  display: inline-block;
  margin: -5px 8px 0 0;
}
h1 .dashicons-admin-comments,
h2 .dashicons-admin-comments,
h3 .dashicons-admin-comments,
h1 .dashicons-plus-big,
h2 .dashicons-plus-big,
h3 .dashicons-plus-big {
  font-size: 20px;
}
.hentry {
  background: #c7eee6;
}
.hentry button,
.hentry input[type='submit'],
.hentry input[type='reset'] {
  background: #16a085;
}
.hentry th {
  background-color: rgba(22, 160, 133, 0.6);
}
.hentry td {
  border-color: rgba(22, 160, 133, 0.6);
  background-color: rgba(22, 160, 133, 0.15);
}
.hentry h2,
.hentry .comment-links,
.hentry #reply-title {
  color: #16a085;
}
.hentry h2 a,
.hentry .comment-links a,
.hentry #reply-title a {
  color: #16a085;
}
.hentry h2 a:hover,
.hentry .comment-links a:hover,
.hentry #reply-title a:hover {
  color: #107360;
}
.hentry .comment-content a {
  color: #16a085;
}
.hentry .comment-content a:hover {
  color: #107360;
}
.hentry .entry-meta {
  color: #005040;
  background: #16a085;
}
.hentry .entry-meta .meta {
  background: #28c1a3;
}
.hentry .entry-meta a {
  color: #005040;
}
.hentry .entry-meta a:hover {
  color: #001d17;
}
.hentry .entry-header {
  color: #c7eee6;
  background: #28c1a3;
}
.hentry .entry-header a {
  color: #c7eee6;
}
.hentry .entry-header a:hover {
  color: #a0e2d5;
}
.hentry .entry-header.entry-meta {
  color: #005040;
}
.hentry .entry-header.entry-meta .meta {
  border-right: 2px solid #16a085;
}
.hentry .entry-content code {
  background: #a0e2d5;
}
.hentry .entry-content pre {
  background: #a0e2d5;
}
.hentry .entry-content pre code {
  background: transparent;
}
.hentry .icon {
  color: #c7eee6;
}
.hentry .format-icon {
  color: #16a085;
  background: #c7eee6;
}
.hentry #respond label {
  color: #16a085;
}
.hentry #respond textarea {
  color: #16a085;
}
.hentry #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #6ee1cb;
}
.hentry #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #6ee1cb;
}
.hentry #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #6ee1cb;
}
.hentry #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #6ee1cb;
}
.format-image {
  background: #c7f0d8;
}
.format-image button,
.format-image input[type='submit'],
.format-image input[type='reset'] {
  background: #27ae60;
}
.format-image th {
  background-color: rgba(39, 174, 96, 0.6);
}
.format-image td {
  border-color: rgba(39, 174, 96, 0.6);
  background-color: rgba(39, 174, 96, 0.15);
}
.format-image h2,
.format-image .comment-links,
.format-image #reply-title {
  color: #27ae60;
}
.format-image h2 a,
.format-image .comment-links a,
.format-image #reply-title a {
  color: #27ae60;
}
.format-image h2 a:hover,
.format-image .comment-links a:hover,
.format-image #reply-title a:hover {
  color: #1e8449;
}
.format-image .comment-content a {
  color: #27ae60;
}
.format-image .comment-content a:hover {
  color: #1e8449;
}
.format-image .entry-meta {
  color: #086730;
  background: #27ae60;
}
.format-image .entry-meta .meta {
  background: #42c67a;
}
.format-image .entry-meta a {
  color: #086730;
}
.format-image .entry-meta a:hover {
  color: #04381a;
}
.format-image .entry-header {
  color: #c7f0d8;
  background: #42c67a;
}
.format-image .entry-header a {
  color: #c7f0d8;
}
.format-image .entry-header a:hover {
  color: #9fe5bc;
}
.format-image .entry-header.entry-meta {
  color: #086730;
}
.format-image .entry-header.entry-meta .meta {
  border-right: 2px solid #27ae60;
}
.format-image .entry-content code {
  background: #9fe5bc;
}
.format-image .entry-content pre {
  background: #9fe5bc;
}
.format-image .entry-content pre code {
  background: transparent;
}
.format-image .icon {
  color: #c7f0d8;
}
.format-image .format-icon {
  color: #27ae60;
  background: #c7f0d8;
}
.format-image #respond label {
  color: #27ae60;
}
.format-image #respond textarea {
  color: #27ae60;
}
.format-image #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #91ddb1;
}
.format-image #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #91ddb1;
}
.format-image #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #91ddb1;
}
.format-image #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #91ddb1;
}
.format-gallery {
  background: #c7e0f0;
}
.format-gallery button,
.format-gallery input[type='submit'],
.format-gallery input[type='reset'] {
  background: #2980b9;
}
.format-gallery th {
  background-color: rgba(41, 128, 185, 0.6);
}
.format-gallery td {
  border-color: rgba(41, 128, 185, 0.6);
  background-color: rgba(41, 128, 185, 0.15);
}
.format-gallery h2,
.format-gallery .comment-links,
.format-gallery #reply-title {
  color: #2980b9;
}
.format-gallery h2 a,
.format-gallery .comment-links a,
.format-gallery #reply-title a {
  color: #2980b9;
}
.format-gallery h2 a:hover,
.format-gallery .comment-links a:hover,
.format-gallery #reply-title a:hover {
  color: #20638f;
}
.format-gallery .comment-content a {
  color: #2980b9;
}
.format-gallery .comment-content a:hover {
  color: #20638f;
}
.format-gallery .entry-meta {
  color: #084974;
  background: #2980b9;
}
.format-gallery .entry-meta .meta {
  background: #4c98c9;
}
.format-gallery .entry-meta a {
  color: #084974;
}
.format-gallery .entry-meta a:hover {
  color: #052b44;
}
.format-gallery .entry-header {
  color: #c7e0f0;
  background: #4c98c9;
}
.format-gallery .entry-header a {
  color: #c7e0f0;
}
.format-gallery .entry-header a:hover {
  color: #9fcae5;
}
.format-gallery .entry-header.entry-meta {
  color: #084974;
}
.format-gallery .entry-header.entry-meta .meta {
  border-right: 2px solid #2980b9;
}
.format-gallery .entry-content code {
  background: #9fcae5;
}
.format-gallery .entry-content pre {
  background: #9fcae5;
}
.format-gallery .entry-content pre code {
  background: transparent;
}
.format-gallery .icon {
  color: #c7e0f0;
}
.format-gallery .format-icon {
  color: #2980b9;
  background: #c7e0f0;
}
.format-gallery #respond label {
  color: #2980b9;
}
.format-gallery #respond textarea {
  color: #2980b9;
}
.format-gallery #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #9ac5e1;
}
.format-gallery #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #9ac5e1;
}
.format-gallery #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #9ac5e1;
}
.format-gallery #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #9ac5e1;
}
.format-link {
  background: #f2dcfa;
}
.format-link button,
.format-link input[type='submit'],
.format-link input[type='reset'] {
  background: #8e44ad;
}
.format-link th {
  background-color: rgba(142, 68, 173, 0.6);
}
.format-link td {
  border-color: rgba(142, 68, 173, 0.6);
  background-color: rgba(142, 68, 173, 0.15);
}
.format-link h2,
.format-link .comment-links,
.format-link #reply-title {
  color: #8e44ad;
}
.format-link h2 a,
.format-link .comment-links a,
.format-link #reply-title a {
  color: #8e44ad;
}
.format-link h2 a:hover,
.format-link .comment-links a:hover,
.format-link #reply-title a:hover {
  color: #703688;
}
.format-link .comment-content a {
  color: #8e44ad;
}
.format-link .comment-content a:hover {
  color: #703688;
}
.format-link .entry-meta {
  color: #581774;
  background: #8e44ad;
}
.format-link .entry-meta .meta {
  background: #a16db7;
}
.format-link .entry-meta a {
  color: #581774;
}
.format-link .entry-meta a:hover {
  color: #380f49;
}
.format-link .entry-header {
  color: #f2dcfa;
  background: #a16db7;
}
.format-link .entry-header a {
  color: #f2dcfa;
}
.format-link .entry-header a:hover {
  color: #e1aff4;
}
.format-link .entry-header.entry-meta {
  color: #581774;
}
.format-link .entry-header.entry-meta .meta {
  border-right: 2px solid #8e44ad;
}
.format-link .entry-content code {
  background: #e1aff4;
}
.format-link .entry-content pre {
  background: #e1aff4;
}
.format-link .entry-content pre code {
  background: transparent;
}
.format-link .icon {
  color: #f2dcfa;
}
.format-link .format-icon {
  color: #8e44ad;
  background: #f2dcfa;
}
.format-link #respond label {
  color: #8e44ad;
}
.format-link #respond textarea {
  color: #8e44ad;
}
.format-link #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #cdb2d8;
}
.format-link #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #cdb2d8;
}
.format-link #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #cdb2d8;
}
.format-link #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #cdb2d8;
}
.format-status {
  background: #fadcec;
}
.format-status button,
.format-status input[type='submit'],
.format-status input[type='reset'] {
  background: #ad2f62;
}
.format-status th {
  background-color: rgba(173, 47, 98, 0.6);
}
.format-status td {
  border-color: rgba(173, 47, 98, 0.6);
  background-color: rgba(173, 47, 98, 0.15);
}
.format-status h2,
.format-status .comment-links,
.format-status #reply-title {
  color: #ad2f62;
}
.format-status h2 a,
.format-status .comment-links a,
.format-status #reply-title a {
  color: #ad2f62;
}
.format-status h2 a:hover,
.format-status .comment-links a:hover,
.format-status #reply-title a:hover {
  color: #85244b;
}
.format-status .comment-content a {
  color: #ad2f62;
}
.format-status .comment-content a:hover {
  color: #85244b;
}
.format-status .entry-meta {
  color: #6a0c32;
  background: #ad2f62;
}
.format-status .entry-meta .meta {
  background: #c04f7d;
}
.format-status .entry-meta a {
  color: #6a0c32;
}
.format-status .entry-meta a:hover {
  color: #3c071c;
}
.format-status .entry-header {
  color: #fadcec;
  background: #c04f7d;
}
.format-status .entry-header a {
  color: #fadcec;
}
.format-status .entry-header a:hover {
  color: #f4afd4;
}
.format-status .entry-header.entry-meta {
  color: #6a0c32;
}
.format-status .entry-header.entry-meta .meta {
  border-right: 2px solid #ad2f62;
}
.format-status .entry-content code {
  background: #f4afd4;
}
.format-status .entry-content pre {
  background: #f4afd4;
}
.format-status .entry-content pre code {
  background: transparent;
}
.format-status .icon {
  color: #fadcec;
}
.format-status .format-icon {
  color: #ad2f62;
  background: #fadcec;
}
.format-status #respond label {
  color: #ad2f62;
}
.format-status #respond textarea {
  color: #ad2f62;
}
.format-status #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #db9ab4;
}
.format-status #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #db9ab4;
}
.format-status #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #db9ab4;
}
.format-status #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #db9ab4;
}
.format-video {
  background: #fadfdc;
}
.format-video button,
.format-video input[type='submit'],
.format-video input[type='reset'] {
  background: #c0392b;
}
.format-video th {
  background-color: rgba(192, 57, 43, 0.6);
}
.format-video td {
  border-color: rgba(192, 57, 43, 0.6);
  background-color: rgba(192, 57, 43, 0.15);
}
.format-video h2,
.format-video .comment-links,
.format-video #reply-title {
  color: #c0392b;
}
.format-video h2 a,
.format-video .comment-links a,
.format-video #reply-title a {
  color: #c0392b;
}
.format-video h2 a:hover,
.format-video .comment-links a:hover,
.format-video #reply-title a:hover {
  color: #962d22;
}
.format-video .comment-content a {
  color: #c0392b;
}
.format-video .comment-content a:hover {
  color: #962d22;
}
.format-video .entry-meta {
  color: #7c1409;
  background: #c0392b;
}
.format-video .entry-meta .meta {
  background: #cb5e53;
}
.format-video .entry-meta a {
  color: #7c1409;
}
.format-video .entry-meta a:hover {
  color: #4c0c06;
}
.format-video .entry-header {
  color: #fadfdc;
  background: #cb5e53;
}
.format-video .entry-header a {
  color: #fadfdc;
}
.format-video .entry-header a:hover {
  color: #f4b6af;
}
.format-video .entry-header.entry-meta {
  color: #7c1409;
}
.format-video .entry-header.entry-meta .meta {
  border-right: 2px solid #c0392b;
}
.format-video .entry-content code {
  background: #f4b6af;
}
.format-video .entry-content pre {
  background: #f4b6af;
}
.format-video .entry-content pre code {
  background: transparent;
}
.format-video .icon {
  color: #fadfdc;
}
.format-video .format-icon {
  color: #c0392b;
  background: #fadfdc;
}
.format-video #respond label {
  color: #c0392b;
}
.format-video #respond textarea {
  color: #c0392b;
}
.format-video #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #e3a8a1;
}
.format-video #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #e3a8a1;
}
.format-video #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #e3a8a1;
}
.format-video #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #e3a8a1;
}
.format-audio {
  background: #faeadc;
}
.format-audio button,
.format-audio input[type='submit'],
.format-audio input[type='reset'] {
  background: #d35400;
}
.format-audio th {
  background-color: rgba(211, 84, 0, 0.6);
}
.format-audio td {
  border-color: rgba(211, 84, 0, 0.6);
  background-color: rgba(211, 84, 0, 0.15);
}
.format-audio h2,
.format-audio .comment-links,
.format-audio #reply-title {
  color: #d35400;
}
.format-audio h2 a,
.format-audio .comment-links a,
.format-audio #reply-title a {
  color: #d35400;
}
.format-audio h2 a:hover,
.format-audio .comment-links a:hover,
.format-audio #reply-title a:hover {
  color: #a04000;
}
.format-audio .comment-content a {
  color: #d35400;
}
.format-audio .comment-content a:hover {
  color: #a04000;
}
.format-audio .entry-meta {
  color: #6d2b00;
  background: #d35400;
}
.format-audio .entry-meta .meta {
  background: #f36c13;
}
.format-audio .entry-meta a {
  color: #6d2b00;
}
.format-audio .entry-meta a:hover {
  color: #3a1700;
}
.format-audio .entry-header {
  color: #faeadc;
  background: #f36c13;
}
.format-audio .entry-header a {
  color: #faeadc;
}
.format-audio .entry-header a:hover {
  color: #f4cfaf;
}
.format-audio .entry-header.entry-meta {
  color: #6d2b00;
}
.format-audio .entry-header.entry-meta .meta {
  border-right: 2px solid #d35400;
}
.format-audio .entry-content code {
  background: #f4cfaf;
}
.format-audio .entry-content pre {
  background: #f4cfaf;
}
.format-audio .entry-content pre code {
  background: transparent;
}
.format-audio .icon {
  color: #faeadc;
}
.format-audio .format-icon {
  color: #d35400;
  background: #faeadc;
}
.format-audio #respond label {
  color: #d35400;
}
.format-audio #respond textarea {
  color: #d35400;
}
.format-audio #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #f8a974;
}
.format-audio #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #f8a974;
}
.format-audio #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #f8a974;
}
.format-audio #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #f8a974;
}
.format-chat {
  background: #faeedc;
}
.format-chat button,
.format-chat input[type='submit'],
.format-chat input[type='reset'] {
  background: #d99425;
}
.format-chat th {
  background-color: rgba(217, 148, 37, 0.6);
}
.format-chat td {
  border-color: rgba(217, 148, 37, 0.6);
  background-color: rgba(217, 148, 37, 0.15);
}
.format-chat h2,
.format-chat .comment-links,
.format-chat #reply-title {
  color: #d99425;
}
.format-chat h2 a,
.format-chat .comment-links a,
.format-chat #reply-title a {
  color: #d99425;
}
.format-chat h2 a:hover,
.format-chat .comment-links a:hover,
.format-chat #reply-title a:hover {
  color: #ad761e;
}
.format-chat .comment-content a {
  color: #d99425;
}
.format-chat .comment-content a:hover {
  color: #ad761e;
}
.format-chat .entry-meta {
  color: #935d05;
  background: #d99425;
}
.format-chat .entry-meta .meta {
  background: #d7a75a;
}
.format-chat .entry-meta a {
  color: #935d05;
}
.format-chat .entry-meta a:hover {
  color: #623e03;
}
.format-chat .entry-header {
  color: #faeedc;
  background: #d7a75a;
}
.format-chat .entry-header a {
  color: #faeedc;
}
.format-chat .entry-header a:hover {
  color: #f4d8af;
}
.format-chat .entry-header.entry-meta {
  color: #935d05;
}
.format-chat .entry-header.entry-meta .meta {
  border-right: 2px solid #d99425;
}
.format-chat .entry-content code {
  background: #f4d8af;
}
.format-chat .entry-content pre {
  background: #f4d8af;
}
.format-chat .entry-content pre code {
  background: transparent;
}
.format-chat .icon {
  color: #faeedc;
}
.format-chat .format-icon {
  color: #d99425;
  background: #faeedc;
}
.format-chat #respond label {
  color: #d99425;
}
.format-chat #respond textarea {
  color: #d99425;
}
.format-chat #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #ebd3ac;
}
.format-chat #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #ebd3ac;
}
.format-chat #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #ebd3ac;
}
.format-chat #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #ebd3ac;
}
.format-quote {
  background: #dcfafa;
}
.format-quote button,
.format-quote input[type='submit'],
.format-quote input[type='reset'] {
  background: #21a3a4;
}
.format-quote th {
  background-color: rgba(33, 163, 164, 0.6);
}
.format-quote td {
  border-color: rgba(33, 163, 164, 0.6);
  background-color: rgba(33, 163, 164, 0.15);
}
.format-quote h2,
.format-quote .comment-links,
.format-quote #reply-title {
  color: #21a3a4;
}
.format-quote h2 a,
.format-quote .comment-links a,
.format-quote #reply-title a {
  color: #21a3a4;
}
.format-quote h2 a:hover,
.format-quote .comment-links a:hover,
.format-quote #reply-title a:hover {
  color: #18797a;
}
.format-quote .comment-content a {
  color: #21a3a4;
}
.format-quote .comment-content a:hover {
  color: #18797a;
}
.format-quote .entry-meta {
  color: #05595a;
  background: #21a3a4;
}
.format-quote .entry-meta .meta {
  background: #36c1c2;
}
.format-quote .entry-meta a {
  color: #05595a;
}
.format-quote .entry-meta a:hover {
  color: #02292a;
}
.format-quote .entry-header {
  color: #dcfafa;
  background: #36c1c2;
}
.format-quote .entry-header a {
  color: #dcfafa;
}
.format-quote .entry-header a:hover {
  color: #aff4f4;
}
.format-quote .entry-header.entry-meta {
  color: #05595a;
}
.format-quote .entry-header.entry-meta .meta {
  border-right: 2px solid #21a3a4;
}
.format-quote .entry-content code {
  background: #aff4f4;
}
.format-quote .entry-content pre {
  background: #aff4f4;
}
.format-quote .entry-content pre code {
  background: transparent;
}
.format-quote .icon {
  color: #dcfafa;
}
.format-quote .format-icon {
  color: #21a3a4;
  background: #dcfafa;
}
.format-quote #respond label {
  color: #21a3a4;
}
.format-quote #respond textarea {
  color: #21a3a4;
}
.format-quote #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #82dcdc;
}
.format-quote #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #82dcdc;
}
.format-quote #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #82dcdc;
}
.format-quote #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #82dcdc;
}
.format-aside {
  background: #eefadc;
}
.format-aside button,
.format-aside input[type='submit'],
.format-aside input[type='reset'] {
  background: #6fa623;
}
.format-aside th {
  background-color: rgba(111, 166, 35, 0.6);
}
.format-aside td {
  border-color: rgba(111, 166, 35, 0.6);
  background-color: rgba(111, 166, 35, 0.15);
}
.format-aside h2,
.format-aside .comment-links,
.format-aside #reply-title {
  color: #6fa623;
}
.format-aside h2 a,
.format-aside .comment-links a,
.format-aside #reply-title a {
  color: #6fa623;
}
.format-aside h2 a:hover,
.format-aside .comment-links a:hover,
.format-aside #reply-title a:hover {
  color: #537c1a;
}
.format-aside .comment-content a {
  color: #6fa623;
}
.format-aside .comment-content a:hover {
  color: #537c1a;
}
.format-aside .entry-meta {
  color: #385d06;
  background: #6fa623;
}
.format-aside .entry-meta .meta {
  background: #89c438;
}
.format-aside .entry-meta a {
  color: #385d06;
}
.format-aside .entry-meta a:hover {
  color: #1b2d03;
}
.format-aside .entry-header {
  color: #eefadc;
  background: #89c438;
}
.format-aside .entry-header a {
  color: #eefadc;
}
.format-aside .entry-header a:hover {
  color: #d8f4af;
}
.format-aside .entry-header.entry-meta {
  color: #385d06;
}
.format-aside .entry-header.entry-meta .meta {
  border-right: 2px solid #6fa623;
}
.format-aside .entry-content code {
  background: #d8f4af;
}
.format-aside .entry-content pre {
  background: #d8f4af;
}
.format-aside .entry-content pre code {
  background: transparent;
}
.format-aside .icon {
  color: #eefadc;
}
.format-aside .format-icon {
  color: #6fa623;
  background: #eefadc;
}
.format-aside #respond label {
  color: #6fa623;
}
.format-aside #respond textarea {
  color: #6fa623;
}
.format-aside #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #b8dc86;
}
.format-aside #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #b8dc86;
}
.format-aside #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #b8dc86;
}
.format-aside #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #b8dc86;
}
.hentry.type-page,
.hentry.error404,
.hentry.no-results {
  background: #ecf0f1;
}
.hentry.type-page button,
.hentry.error404 button,
.hentry.no-results button,
.hentry.type-page input[type='submit'],
.hentry.error404 input[type='submit'],
.hentry.no-results input[type='submit'],
.hentry.type-page input[type='reset'],
.hentry.error404 input[type='reset'],
.hentry.no-results input[type='reset'] {
  background: #7f8c8d;
}
.hentry.type-page th,
.hentry.error404 th,
.hentry.no-results th {
  background-color: rgba(127, 140, 141, 0.6);
}
.hentry.type-page td,
.hentry.error404 td,
.hentry.no-results td {
  border-color: rgba(127, 140, 141, 0.6);
  background-color: rgba(127, 140, 141, 0.15);
}
.hentry.type-page h2,
.hentry.error404 h2,
.hentry.no-results h2,
.hentry.type-page .comment-links,
.hentry.error404 .comment-links,
.hentry.no-results .comment-links,
.hentry.type-page #reply-title,
.hentry.error404 #reply-title,
.hentry.no-results #reply-title {
  color: #7f8c8d;
}
.hentry.type-page h2 a,
.hentry.error404 h2 a,
.hentry.no-results h2 a,
.hentry.type-page .comment-links a,
.hentry.error404 .comment-links a,
.hentry.no-results .comment-links a,
.hentry.type-page #reply-title a,
.hentry.error404 #reply-title a,
.hentry.no-results #reply-title a {
  color: #7f8c8d;
}
.hentry.type-page h2 a:hover,
.hentry.error404 h2 a:hover,
.hentry.no-results h2 a:hover,
.hentry.type-page .comment-links a:hover,
.hentry.error404 .comment-links a:hover,
.hentry.no-results .comment-links a:hover,
.hentry.type-page #reply-title a:hover,
.hentry.error404 #reply-title a:hover,
.hentry.no-results #reply-title a:hover {
  color: #667273;
}
.hentry.type-page .comment-content a,
.hentry.error404 .comment-content a,
.hentry.no-results .comment-content a {
  color: #7f8c8d;
}
.hentry.type-page .comment-content a:hover,
.hentry.error404 .comment-content a:hover,
.hentry.no-results .comment-content a:hover {
  color: #667273;
}
.hentry.type-page .entry-meta,
.hentry.error404 .entry-meta,
.hentry.no-results .entry-meta {
  color: #3b676b;
  background: #7f8c8d;
}
.hentry.type-page .entry-meta .meta,
.hentry.error404 .entry-meta .meta,
.hentry.no-results .entry-meta .meta {
  background: #a0a0a0;
}
.hentry.type-page .entry-meta a,
.hentry.error404 .entry-meta a,
.hentry.no-results .entry-meta a {
  color: #3b676b;
}
.hentry.type-page .entry-meta a:hover,
.hentry.error404 .entry-meta a:hover,
.hentry.no-results .entry-meta a:hover {
  color: #29484a;
}
.hentry.type-page .entry-header,
.hentry.error404 .entry-header,
.hentry.no-results .entry-header {
  color: #ecf0f1;
  background: #a0a0a0;
}
.hentry.type-page .entry-header a,
.hentry.error404 .entry-header a,
.hentry.no-results .entry-header a {
  color: #ecf0f1;
}
.hentry.type-page .entry-header a:hover,
.hentry.error404 .entry-header a:hover,
.hentry.no-results .entry-header a:hover {
  color: #cfd9db;
}
.hentry.type-page .entry-header.entry-meta,
.hentry.error404 .entry-header.entry-meta,
.hentry.no-results .entry-header.entry-meta {
  color: #3b676b;
}
.hentry.type-page .entry-header.entry-meta .meta,
.hentry.error404 .entry-header.entry-meta .meta,
.hentry.no-results .entry-header.entry-meta .meta {
  border-right: 2px solid #7f8c8d;
}
.hentry.type-page .entry-content code,
.hentry.error404 .entry-content code,
.hentry.no-results .entry-content code {
  background: #cfd9db;
}
.hentry.type-page .entry-content pre,
.hentry.error404 .entry-content pre,
.hentry.no-results .entry-content pre {
  background: #cfd9db;
}
.hentry.type-page .entry-content pre code,
.hentry.error404 .entry-content pre code,
.hentry.no-results .entry-content pre code {
  background: transparent;
}
.hentry.type-page .icon,
.hentry.error404 .icon,
.hentry.no-results .icon {
  color: #ecf0f1;
}
.hentry.type-page .format-icon,
.hentry.error404 .format-icon,
.hentry.no-results .format-icon {
  color: #7f8c8d;
  background: #ecf0f1;
}
.hentry.type-page #respond label,
.hentry.error404 #respond label,
.hentry.no-results #respond label {
  color: #7f8c8d;
}
.hentry.type-page #respond textarea,
.hentry.error404 #respond textarea,
.hentry.no-results #respond textarea {
  color: #7f8c8d;
}
.hentry.type-page #respond ::-webkit-input-placeholder,
.hentry.error404 #respond ::-webkit-input-placeholder,
.hentry.no-results #respond ::-webkit-input-placeholder {
  /* WebKit browsers */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #d3d3d3;
}
.hentry.type-page #respond :-moz-placeholder,
.hentry.error404 #respond :-moz-placeholder,
.hentry.no-results #respond :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #d3d3d3;
}
.hentry.type-page #respond ::-moz-placeholder,
.hentry.error404 #respond ::-moz-placeholder,
.hentry.no-results #respond ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #d3d3d3;
}
.hentry.type-page #respond :-ms-input-placeholder,
.hentry.error404 #respond :-ms-input-placeholder,
.hentry.no-results #respond :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font: italic 12px 'Source Sans Pro', sans-serif;
  color: #d3d3d3;
}
.hentry.type-page .entry-header,
.hentry.error404 .entry-header,
.hentry.no-results .entry-header {
  background: #95a5a6;
}
.hentry.type-page .widget-title,
.hentry.error404 .widget-title,
.hentry.no-results .widget-title {
  color: white;
}
.hentry.type-page .format-icon,
.hentry.error404 .format-icon,
.hentry.no-results .format-icon {
  font-size: 120px;
  color: #ecf0f1;
  background: transparent;
}
.sticky {
  /*! Not styled in this theme. */
}
/* @end */
/* @group COMMENTS */
.comment-links {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
}
.comment-links .icon {
  font-size: 20px;
  float: left;
  margin-top: -1px;
  margin-right: 7px;
}
.comment-links .add .icon {
  font-size: 18px;
  margin-top: 0;
  margin-right: 6px;
}
#comments .comment-list {
  margin: 0 0 50px;
  padding: 0;
}
#comments .comment-list li {
  list-style: none;
}
li.pingback p {
  margin: 15px 0 15px;
  padding: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #2c3e50;
  color: #aabdd1;
}
li.pingback p a {
  color: #f0fffc;
}
li.pingback p a:hover,
li.pingback p a:focus {
  color: #c0dfdc;
}
article.comment {
  margin: 15px 0 15px 90px;
  padding: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #f0fffc;
  position: relative;
  background-color: #2c3e50;
}
article.comment:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  width: 0;
  border-style: solid;
  border-color: transparent #2c3e50;
}
article.comment:after {
  top: 35px;
  left: -10px;
  right: auto;
  border-width: 10px 10px 10px 0;
}
article.comment pre {
  color: #2c3e50;
}
article.comment footer {
  overflow: hidden;
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
}
article.comment footer,
article.comment footer a {
  color: #aabdd1;
}
article.comment footer a:hover,
article.comment footer a:focus {
  color: #7997b5;
}
.comment-avatar {
  margin-left: -105px;
  margin-bottom: -65px;
  width: 90px;
  height: 66px;
}
.comment-avatar img {
  display: block;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
}
li.comment li.comment article.comment {
  margin: 15px 90px 15px 0px;
  position: relative;
  background-color: #496785;
}
li.comment li.comment article.comment:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  width: 0;
  border-style: solid;
  border-color: transparent #496785;
}
li.comment li.comment article.comment:after {
  top: 35px;
  left: auto;
  right: -10px;
  border-width: 10px 0px 10px 10px;
}
li.comment li.comment .comment-avatar {
  float: right;
  margin: 0 -105px 0 0;
}
li.comment li.comment .comment-avatar img {
  display: block;
  float: right;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
}
#comments .comment-content ol li {
  list-style: decimal;
}
#comments .comment-content ul li {
  list-style: disc;
}
#reply-title {
  margin: 0 0 15px;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
}
#reply-title .icon {
  float: left;
  margin-top: 6px;
  margin-right: 5px;
  height: 18px;
  width: 20px;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#respond {
  *zoom: 1;
}
#respond:before,
#respond:after {
  display: table;
  content: "";
}
#respond:after {
  clear: both;
}
#respond label,
#respond .logged-in-as,
#respond .must-log-in {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  line-height: 1.3;
  font-weight: 600;
  text-transform: uppercase;
}
#respond .logged-in-as {
  float: left;
  margin: 5px 0 0;
}
#respond input,
#respond textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px;
  width: 100%;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.2;
  border: 1px solid #e6e6e6;
}
#respond input:focus,
#respond textarea:focus {
  outline: none;
  border: 1px solid #8aa4be;
}
#respond textarea {
  margin: 0 0 5px;
  padding: 14px;
  width: 100%;
  resize: vertical;
  overflow: auto;
}
#respond button,
#respond input[type='submit'],
#respond input[type='reset'] {
  width: auto;
  font-size: 13px;
  font-size: 1.3rem;
  border: none;
}
.comment-form-comment {
  margin-bottom: 15px;
}
.comment-form-author,
.comment-form-email {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0 0 15px;
  width: 50%;
}
.comment-form-author {
  padding-right: 15px;
}
.comment-form-email {
  padding-left: 15px;
}
#jetpack-subscribe {
  clear: left;
}
.comment-subscription-form {
  margin-bottom: 0;
}
#submit {
  float: right;
}
/* @end */
/* @group LARGE SCREEN > 1300 */
@media (min-width: 1300px) {
  #page {
    max-width: 1240px;
  }
  .content-area {
    float: left;
    width: 100%;
    margin: 0;
  }
  .site-content {
    margin: 30px 22.58065% 0;
  }
  .site-header {
    float: left;
    margin-right: -100%;
    width: 17.74194%;
  }
  .side-widget-area {
    clear: none;
    float: right;
    margin: 30px 0 0 -100%;
    overflow: hidden;
    width: 17.74194%;
  }
}
/* @end */
/* @group LESS THAN 1000 WIDE */
@media (max-width: 1000px) {
  body {
    padding: 0 1em;
  }
  .site-header,
  .side-widget-area {
    min-width: 220px;
  }
  .content-area {
    margin-left: -220px;
  }
  .site-content {
    margin-left: 250px;
  }
  .entry-area {
    margin-right: -180px;
  }
  .entry-header,
  .entry-content,
  .entry-summary,
  .comment-links,
  .comments-area {
    margin-right: 180px;
  }
  .sidebar-bg,
  footer.entry-meta {
    width: 180px;
  }
}
/* @end */
/* @group LESS THAN 900 WIDE */
@media (max-width: 900px) {
  .entry-area {
    margin-right: -140px;
  }
  .entry-header,
  .entry-content,
  .entry-summary,
  .comment-links,
  .comments-area {
    margin-right: 140px;
  }
  .sidebar-bg,
  footer.entry-meta {
    width: 140px;
  }
}
/* @end */
/* @group LESS THAN 770 WIDE */
@media (max-width: 770px) {
  .site-header {
    float: none;
    width: 100%;
  }
  .site-header .site-branding {
    position: relative;
    float: left;
    height: 180px;
    width: 180px;
  }
  .site-header .site-title {
    height: 180px;
    width: 180px;
  }
  .site-header nav {
    float: right;
    margin: 30px 0 0 0;
    width: 60%;
    font-size: .9em;
  }
  .site-header nav .menu-main-nav-container {
    margin: 0 0px 0 210px;
  }
  .site-header nav a {
    padding: 10px 0;
  }
  .site-header nav li:first-child a {
    padding-top: 0;
  }
  .side-widget-area {
    float: none;
    width: 100%;
  }
  .content-area {
    margin-left: 0;
  }
  .site-content {
    margin: 0;
  }
}
/* @end */
/* @group LESS THAN 500 WIDE */
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .site-header {
    float: none;
    width: 100%;
  }
  .site-header .site-branding {
    float: none;
  }
  .site-header nav {
    display: none;
  }
  article.comment {
    margin: 95px 0 15px;
    position: relative;
    background-color: #2c3e50;
  }
  article.comment:after {
    content: "";
    display: block;
    /* reduce the damage in FF3.0 */
    position: absolute;
    width: 0;
    border-style: solid;
    border-color: transparent #2c3e50;
  }
  article.comment:after {
    top: -10px;
    left: 22px;
    right: auto;
    border-width: 0 10px 10px;
    border-color: #2c3e50 transparent;
  }
  .comment-avatar {
    margin: -95px 0 24px -15px;
  }
  li.comment li.comment article.comment {
    margin: 95px 0 15px;
    position: relative;
    background-color: #496785;
  }
  li.comment li.comment article.comment:after {
    content: "";
    display: block;
    /* reduce the damage in FF3.0 */
    position: absolute;
    width: 0;
    border-style: solid;
    border-color: transparent #496785;
  }
  li.comment li.comment article.comment:after {
    top: -10px;
    left: 22px;
    right: auto;
    border-width: 0 10px 10px;
    border-color: #496785 transparent;
  }
  li.comment li.comment .comment-avatar {
    float: none;
    margin: -95px 0 24px -15px;
  }
  li.comment li.comment .comment-avatar img {
    float: left;
  }
}
/* @end */
/* @group LESS THAN 400 WIDE */
@media (max-width: 400px) {
  .entry-area {
    float: none;
    margin-right: 0px;
  }
  .entry-header,
  .entry-content,
  .entry-summary,
  .comment-links,
  .comments-area {
    margin-right: 0px;
  }
  .sidebar-bg {
    display: none;
  }
  footer.entry-meta {
    float: none;
    width: 100%;
  }
  .format-icon {
    margin: 15px auto;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 40px;
    line-height: 80px;
  }
  footer.entry-meta {
    padding-bottom: 15px;
  }
  .no-title footer.entry-meta {
    padding-bottom: 0;
  }
}
/* @end */

p.action
{
    text-align:center;
    margin:10px 0;
}

    p.action a img
    {
        transform:scale(0.75)
    }
    p.action a:hover img
    {
        transform:scale(0.85)
    }
